[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flet = "*"
pypdf = "*"
pyinstaller = "*"
pillow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
